body{
  background: #000000;
}
.main_title{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 500%;
  margin-top:20px;
  text-decoration: underline;
  color: #472F1D;
  margin-bottom: 5px
}
.sub_title{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color:#845737;
}
.pane{
  background: #4e342e ;
  font-family : sans-serif;
}
body{
  padding-left:10px;
  padding-right: 10px;
}
li{
  text-align: center;;
  color:white;
  background: #6d4c41   ;
  border: solid;
  border-color: #3e2723;
  border-radius: 20px;
  margin: 4px;
  padding: 10px;
  }
