<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Houses</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Projects</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="{{url_for('allHouses')}}">Houses</a></li>
                <li><a href="{{url_for('allCharacters')}}">Characters</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="collapsible popout" data-collapsible="accordion">
    {% for house in houses %}
    <li>
      <div class="collapsible-header">{{house.name}}</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    {% endfor %}
</ul>


</body>
</html>